@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    min-height: 100vh;
    background-image: url('./imgs/yeezus.jpeg');
    background-size: cover;
    background-position: top center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
}

h1 {
    margin: 30px;
}

h1 span {
    white-space: nowrap;
}

.quoteCont {
    background-color: black;
    width: 100%;
    max-width: 525px;
    margin: 0px auto 30px;
    padding: 25px 30px;
    text-align: center;
    line-height: 1.4;
    font-family: 'Special Elite', cursive;
    font-size: 20px;
    position: relative;
}

.fa-clipboard {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
    transition: content 2000ms ease;
}

.fa-clipboard:hover::before {
    content: 'Copy';
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 1;
}

#quoteBtn {
    width: fit-content;
    padding: 20px;
    cursor: pointer;
    background-color: antiquewhite;
    font-weight: bold;
}

#quoteBtn:hover {
    background-color: rgb(246, 222, 189);
}